#configurationSection{
	position: fixed;
	z-index: 99;
    display: none; 
    width: 100%;
    overflow: auto;
    top: 0px;
    left: 0px;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
	background-image: linear-gradient(white 100px, transparent 100px), url('/img/backgroundConfiguration.png');
	background-position: top, 0 100px;
	background-repeat: no-repeat, repeat;
	background-size: auto, auto; 
}

#configurationSection::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: -1;
    pointer-events: none;
}

#environmentConfiguration, #systemConfiguration, #functionFilterConfiguration, #miscConfiguration {
	margin: 40px;, 
}

table.parameters {
	width: 98%;
	border-collapse: collapse;
	vertical-align: top;
	text-align: left;
}
table.parameters td, th {
	border: none; 
	padding: 8px;
	vertical-align: top;
/*	background-color: white !important;	*/
}
table.parameters td:first-child {
	white-space: nowrap;
}

table.parameters td:last-child {
	width: 100%;
}
table.parameters tr {
	border-bottom: 1px solid black; 
}
table.parameters tr:last-child {
	border-bottom: none; 
}

#flexBoxWrap{
    display: -webkit-flex;
    display: flex;
    width: 80vw;
    height: 20vh;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}
.selectionSection{
    display: -webkit-flex;  
    display:flex;
    align-items: center;
    width: 25%;
    height: 100%;
    flex-direction: column;
    -webkit-flex-direction: column;
   
}
#sourceSelection{
 visibility: hidden;
}
#destSelection{
 visibility: hidden;
}

#contentSection {
 visibility: hidden;	
}

.flexBoxTables{
    display: -webkit-flex;
    display: flex;
    border: solid 2px;
    border-color: grey;
    margin-top:5px;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding:3px;
	vertical-align: top;
	background-color: rgba(255, 255, 255, 1.0);
}

.flexBoxLegend{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

#middleRowSelection{
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 40%;
}

#sourceSystem{
    align-items: flex-start;
    margin-left: 10px;
}
#destSystem{
    align-items: flex-start;
    margin-left: 10px;
}

#compTypeSelect{
    display: -webkit-flex;
    display: flex;
    width: 25%;
    height: 25%;
    vertical-align: baseline;
    -webkit-flex-direction: row;
    flex-direction: row;
    padding:5px;
    margin:5px;
}
.select{
    display:inline-block;
    font-size: 20px;
    margin-left: 8px;
    margin-bottom: 4px;

}

.selected {
    background-color: rgba(0,0,0,0.4) !important;
    color: #fff;
}
#flexBoxButtons{
    display: inline-block;
    visibility: hidden;
}

/*	==========================================================================================
										table styles
	==========================================================================================
*/

#componentTableLeft{
	vertical-align: top;	
}

#componentTableRight{
	vertical-align: top;	
}

.tableHeader{
    width:29.5vw;
    font-family: arial, sans-serif;
    font-size:80%;
    text-align: left;
}
.tableHeader tr{
    /*background-color: orange; */
	border-spacing: 0px;
}

.tableHeader th.nameRow{
    width:60%;
    text-align: left;
}
.tableHeader th.iconRow{
    width:6%;
    text-align: center;
}
.tableHeader th.lastModifiedRow{
    width:23%;
    text-align: center;
}
.tableHeader th.revisionRow{
    text-align: center;
}

.tableDiv{
    width:20vw;
    max-height:50vh;
    overflow: auto;
    width:100%;
    border-spacing: 0px;
}
.tableDiv tr{
    cursor: pointer;
    text-align: left;
	font-family: arial, sans-serif;
    font-size:80%;
    border-spacing: 0px;
    vertical-align: top;
    text-shadow:0 0 1px transparent;
}
.tableDiv td:nth-child(1){
    width:62%;
    text-align: left;
}
.tableDiv td:nth-child(2){
    width:6%;
    text-align: center;
}

.tableDiv td:nth-child(3){
    width:27%;
    text-align: center;
}

.tableDiv td:nth-child(4){
    text-align: center;
}

.right {
    text-align:right; 
}

.left {
    text-align:left; 
}

.center {
	text-align: center;; 
}

#migrationReport{
	max-width: 1024px;
	z-index:10; 
	position:fixed;
	padding: 20px; 
	border-radius: 5px;
	margin:auto; 
    height:auto; 
    background:#eef;
	border: 1px solid black;
	visibility: hidden;
	word-wrap: break-word;
    overflow: auto;
}

#confirmButton{
	margin:auto;
	text-align: center;
	display:block
  }
  
#migrationIndicator{
	max-width: 900px;
	z-index:11; 
	text-align: center;
	position:fixed;
	margin:auto; 
    height:auto; 
	visibility: hidden;
    overflow: auto;
	border: 1px solid black;
	border-radius: 5px;
	background:#fff;
 }
/*	==========================================================================================
										Legend box styles
	==========================================================================================
*/

#environments{ 
	list-style-type: none;
}

#environments li{ 
    font-size: 1vw;
     border: 3px;
    border-color: red;
}
.green {
    background-color: green;
    font-weight: bold;
}
.red {
    background-color: red;
    font-weight: bold;
}
.grey {
    background-color: grey;
    font-weight: bold;
}
.blue {
    background-color: blue;
    font-weight: bold;
}
.yellow {
    background-color: yellow;
    font-weight: bold;
}
.black {
    background-color: black;
    font-weight: bold;
}
.disabledOption{
    background-color: white;
    font-weight: bold;
}

.checkBox{
	display: flex;
	align-items: center;
}

#migrateReferencedCodeTemplatesDivLeft{
	display: none;
	vertical-align: middle;
}

#migrateReferencedCodeTemplatesDivRight{
	display: none;
	vertical-align: middle;
}

.hiddenBox{
    visibility: hidden;
}

.revisionConflict{
    border: 3px;
    border-color: red;
}

.selectedComponent{
    float:left;
}
#contentHeader{
   visibility: hidden;
   cursor:pointer;
   width:100%;
}
#metaDataSection{
    visibility: hidden;
    display:inline-block;
    width: 80vw;
}
.metaDataTable{
    font-family: arial, sans-serif;
    max-width: 80vw;
    font-size:90%;
    border-collapse: collapse;
    padding:5px;
    margin:3px;
    border: 1px solid gray
}
.metaDataTable th{
    background-color: orange;
	font-weight: bold;
    text-align: left;
	padding:3px;
    border: 1px solid gray
}

.metaDataTable td{
    padding:3px;
    border: 1px solid gray
}
.metaDataTable tr{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
    text-shadow:0 0 1px transparent;
}
.metaDataTable tr:nth-child(even) {
    background-color: #dddddd;
}
.metaDataTable tr:nth-child(odd) {
    background-color: #ffffff;
}
#preComponentContent{
    visibility:hidden; 
    border: solid 2px;
    border-color: grey;
}
.wrapContent{
    height:93%;
    width:98.5%;
    overflow-x: auto;
    overflow-y: auto;
}
#description{
    cursor: pointer;
}
#selectedComponent{
    cursor: pointer;
}
#collapseContentIcon{
    visibility: hidden;
    float:left;
    cursor:pointer;
}
#collapseMetaDataIcon{
    visibility: hidden;
    float:left;
    cursor:pointer;
}
/*	==========================================================================================
										Conflict styles
	==========================================================================================
*/

#overlay {
    position: fixed;
    display: none;
    width: 100%;
 //   height: 100%;
    overflow: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}

.configInfo{
	position: absolute;
	top: 92px;
	left: 170px;
	padding: 10px;
	background-color: #f4d03f;
	border: 2px solid #333;
	border-radius: 15px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: #333;
	display:none;
}
#HtmlToolTip{
	max-width: 900px;
	z-index:10; 
	position:fixed;
	padding: 20px; 
	border-radius: 25px;
	margin:auto; 
    height:auto; 
	border: 1px solid black;
	visibility: hidden;
	word-wrap: break-word;
    overflow: auto;
}

#diffoutput table{
    max-width: 80vw;
}
#conflictDiv{
    width:100%;
    height:100%;
    display:none;
    flex-direction: column;
    background-color: ghostwhite;
    z-index: 3;
    overflow-y: auto;
    position: absolute;
    /*right: 46.1%;
    bottom: 65%;
    */
}

.componentVersionConflict{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

#mirthVersionConflict{
    display:none;
    background-color:orange;
    width:99%;
    padding:5px;
    z-index: 4;
    cursor: default;
    margin:5px;
}
#componentVersionConflict{
    background-color:orange;
    padding:5px;
    z-index: 4;
    cursor: default;
    margin:5px;
    height: auto;
}

#conflict_title{
    color:red;
}
#buttonArea2{
    margin-top: 10px;
    margin-bottom: 5px;
    display:flex;
    display:-webkit-flex;
//    flex-direction: column;
    justify-content: space-between;
}
#checkboxDiv input{
    vertical-align: middle;
}

#conflictMetaDataSection{
    z-index: 4;
    margin-bottom: 8px;
}
#diffoutput{
    font-size: 100%;
    margin-top: 8px;
  //  overflow: auto;
    max-width: 98vw;
  //  height: 90vh;
}


#conflictCompareBeautifier{
    font-size: 100%;
    margin-top: 8px;
    overflow: auto;
    max-width: 150vw;

}

body.wait, body.wait *{
 cursor: wait !important;   
}

body {
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('/img/background.png');
  background-repeat: repeat;
/*  background-size: auto; */
}


.reloadOuter2 {
	position: absolute;
	z-index: 2;
	top: 20%;
	left: 50%;
	transform:translateX(-50%);
}

.popupOuter {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

#loginPopup{
	background-image: linear-gradient(45deg, #FFFFFF, rgb(0, 153, 51, 0.7));
}

#reloadPopup{
	background-image: linear-gradient(45deg, #FFFFFF, rgb(255, 122, 89, 0.7));
}

#errorPopup{
	background-image: linear-gradient(45deg, #FFFFFF, rgb(255, 122, 89, 0.7));
}

.containsFunction{
 color: #aeb0a9 !important;
}

.popupInner {
	display: none;
	position: absolute;
	top: 20%;
	left: 50%;
	transform:translateX(-50%);
	box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
	width: 320px;
	display: flex;
	border: 3px;
	flex-direction: column;
	align-items: center;
	background-color: #fff;
	color: #000;
	text-align: center;
	border-radius: 20px;
	padding: 30px 30px 50px;
	 
	-- background-image: linear-gradient(45deg, #FFFFFF, rgb(255, 122, 89));
  img {
    width: 300px;
    margin-bottom: 15px;
  }
  #heading{
    font-size: 18px;
	font-weight: bold;
  }
  #smallText{
    font-size: 8px;  
  }
  .buttonEnabled {
    background-color: #009933;
    border: none;
    border-radius: 5px;
    width: 215px;
    padding: 10px;
    font-size: 16px;
    color: white;
    box-shadow: 0px 6px 18px -5px rgba(0, 153, 51, 1);
  }
  .buttonDisabled {
    background-color: #d9d9d9;
    border: none;
    border-radius: 5px;
    width: 215px;
    padding: 10px;
    font-size: 16px;
    color: #cccccc;
    box-shadow: 0px 6px 18px -5px rgba(217, 217, 217, 1);
  }
  .buttonConfirmReload{
    background-color: #ed6755;
    border: none;
    border-radius: 5px;
    width: 215px;
    padding: 10px;
    font-size: 16px;
    color: white;
    box-shadow: 0px 6px 18px -5px rgba(237, 103, 85, 1);
  }
  .buttonConfirmError{
    background-color: #ed6755;
    border: none;
    border-radius: 5px;
    width: 215px;
    padding: 10px;
    font-size: 16px;
    color: white;
    box-shadow: 0px 6px 18px -5px rgba(237, 103, 85, 1);
  }
  #loginInfo{
	color: red;
	font-weight: bold;
	line-height: 26px;
  }
   #errorInfo{
	color: red;
	font-weight: bold;
	line-height: 26px;
  }
  input {
	display: block;
	width: 200px;
	margin-bottom: 10px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 3px;
  }
  #login-form{

  }
}

.openSettingsIcon{
	position: fixed;
	top: 10px;
	right: 10px;
	width: 20px;
	height: 20px;
	background: url('/img/openSettings.png') no-repeat center center;
	background-size: contain;
}

.closeSettingsIcon{
	position: fixed;
	top: 10px;
	right: 10px;
	width: 20px;
	height: 20px;
	background: url('/img/closeSettings.png') no-repeat center center;
	background-size: contain;
}

.versionContainer {
    position: relative;
    display: inline-block;
}

.versionImage {
	margin: 20px;
    max-width: 200px; 
    height: auto;
    position: relative;
    display: inline-block;
}

.versionNumber {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
	font-weight: bold;
    font-size: 8px;
}

.configurationTab {
	display: none;
}

#environmentTable {
	width: 50%;
	border-collapse: collapse;
	border: 2px solid #000;
	font-size: 12px;
}

#mirthInstanceTable {
	width: 90%;
	border-collapse: collapse;
	border: 2px solid #000;
	font-size: 12px;
}

#environmentTable th, #mirthInstanceTable th {
	border-bottom: 2px solid #000;
	background-color: #7cb4ed;
}

#environmentTable td, #mirthInstanceTable td, #functionFiltersTable td{
	border-bottom: 1px solid #000;
	padding-left: 5px;
}

#environmentTable tr:nth-child(even), #mirthInstanceTable tr:nth-child(even), #functionFiltersTable tr:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
}

#environmentTable td:nth-child(2) {
	text-align: center;
}

#mirthInstanceTable td:nth-child(1), #mirthInstanceTable th:nth-child(1) {
	width: 170px;
}

#mirthInstanceTable td:nth-child(3), #mirthInstanceTable th:nth-child(3) {
	width: 100px;
}

#mirthInstanceTable td:nth-child(4), #mirthInstanceTable th:nth-child(4) {
	width: 70px;
}

#mirthInstanceTable td:nth-child(5), #mirthInstanceTable th:nth-child(5) {
	width: 100px;
}

#mirthInstanceTable td:nth-child(6), #mirthInstanceTable th:nth-child(6) {
	width: 130px;
}

#mirthInstanceTable td:nth-child(7), #mirthInstanceTable th:nth-child(7) {
	width: 120px;
}

#mirthInstanceTable td:nth-child(8), #mirthInstanceTable th:nth-child(8) {
	width: 40px;
}

#environmentTable input[type="text"], #mirthInstanceTable input[type="text"], #mirthInstanceTable input[type="password"] {
	width: 80%; 
	padding: 5px; 
	background-color: rgba(240, 240, 240, 0.7);
	border: 1px solid #ccc; 
	box-sizing: border-box; 
}

#functionFiltersTable 
{
	border-collapse: collapse;
	border: 2px solid #000;
	font-size: 12px;
}

#functionFiltersTable tr{
	font-weight: bold;	
}

#functionFilterWrapper {
	display: flex; 
	justify-content: center;
	max-height: 600px;
	overflow-y: auto; 
}

#functionFilterWrapper td:nth-child(1) {
	min-width: 150px;
}

.newTableRowFade {
	transition: background-color 5s ease;
}
.newTableRowHighlight {
	background-color: yellow !important;
}

.dontWrap{
	vertical-align: middle;
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 32px;
	height: 32px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type="color"]::-webkit-color-swatch {
	border: none;
}

.deleteRow {
	text-align: right;
	padding-right: 5px;
	box-sizing: border-box;
}

.deleteRow img {
	width: auto;
	height: 20px;
}

#showPassword {
	width: 15px;
	height: auto;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* context menu for components */
.contextMenu {
	min-width: 80px;
	border: 1px solid #ccc;
	font-size: 9px;
	font-family: Arial, sans-serif;
	padding: 4px 4px;
	display: none;
	position: absolute;
	background: white;
	border-radius: 4px;
	margin:auto; 
    height:auto; 
	border: 1px solid #ccc;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	z-index: 1000;
}
.contextMenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.contextMenu ul li {
	padding: 8px 12px;
	cursor: pointer;
}
.contextMenu ul li:hover {
	background: #ddd;
}

/* used when hovering a row */
.hover {
	background-color: #e7fbfe !important;
}

.hoverGroup {
	font-weight: bold;
}

/*used when hovering a highlighted row*/
.hoverHighlight {
	background-color: #f4ffa6 !important;
}

.hoverHighlightGroup {
	font-weight: bold;
}

.correspondance{
    background-color: #FF7F50;
	cursor: pointer;
}

.correspondanceGroup {
	font-weight: bold;
}

.hoverCorrespondance{
    background-color: #FFC07A;
	cursor: pointer;
}

.hoverCorrespondanceGroup {
	font-weight: bold;
}

.noBreak {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}