.preview{
	background-image: url("/img/previewBackground.png");
	/*background-size: cover;*/
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
	padding: 5px;
}

.configureFolder { 
	position: relative; 
	margin: 2% 2%; 
	align-items: center;
	align-content: center;
	min-width:600px;
	background-color: #ffffee;
	background-image: url("/img/systemInfoBackground.png");
	box-shadow: 2px 2px 4px 4px #f0f5f5;
		
	background-repeat: no-repeat;
	background-size: cover;
 }
 
.systemNameSelect{width:300px;}

.attribute {
  height: 40px; 
}

.value {
  color: #0000ff;
  font-weight: bold;
}

.disabledMonitoring {
  color: #ff0000;
  font-weight: bold;
}

.basicMonitoring {
  color: #FF8C00;
  font-weight: bold;
}

.extendedMonitoring {
  color: #00CED1;
  font-weight: bold;
}

.fullMonitoring {
  color: #228B22;
  font-weight: bold;
}

.arrow {
  background: url('/img/arrow_right.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 9px 40px 12px 3px;
  margin: 0;
  font-weight: bold;
  color: white;
}

.arrowDefault {
  background: url('/img/arrow_default.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 9px 40px 12px 40px;
  margin: 0;
  font-weight: bold;
  color: white;
}

.application {
  background: url('/img/application.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 8px 10px 15px 10px;
  margin: 0;
  font-weight: bold;
  color: black;
}

table, th, td {
  text-align: left;
  vertical-align: top;
}

tr.spaceUnder>td, tr.spaceTables>td {
  padding-top: 10px;
  padding-bottom: 5px;
}

.systemHeading{
	height:15px;
	font-weight: bold;
	font-size: 18px;	
}

.systemConfig{
	/* border-spacing: 50px; */
	border-collapse:collapse;
	padding-right: 40px;
}

.spaceLine{
	height:15px;
	font-weight: bold;
	font-size: 18px;
}

.label {
	min-width:85px;
	font-weight: bold;
/*	background-color: #eeffff !important*/
}

.enterData{
/*	background-color: #eeffff !important;*/
}

.spacer{
	min-width:10px !important;
/*	background-color: #eeffff !important;*/
}

.spacer2{
	min-width:10px !important;
/*	background-color: #eeffff !important;*/
}

.spacer3{
	min-width:10px !important;
/*	background-color: #ffffff !important;*/
}
.enterNumberField{
	background-color: rgba(255, 255, 221, 0.45) !important;
	width: 55px;
}

.enterDataTextbox{
	background-color: rgba(255, 255, 221, 0.65) !important;
	min-width:85px !important;
}

.dataTextboxInvalidPath{
	background-color: #f2f2f2 !important;
	min-width:85px !important;
	pointer-events: none; 
}

.hideCheckbox{
}

.preview { 
	margin: 2% 2%; 
	align-items: center;
	align-content: center;
	min-width:600px;
	background-color: #ffffee;
	box-shadow: 2px 2px 4px 4px #f0f5f5;
 }

.searchBar{
	overflow: hidden;
	background-color: #e9e9e9;
	position: fixed;
	z-index: 2000;
	display:block;
	left: 160px;
}

.searchField{
}

#statusMessage {
	text-align: center;
	vertical-align: middle;
	line-height: 25px;
	font-weight: bold;
	border-radius: 25px;
	border: 1px solid #000!important;
	background: #ffffcc;
	width: 100px;
	height: 25px;
	position: fixed;
	z-index: 3000; 
	top: 10px;
	left: 10px;
	display:none;
}
